.card
	background-color: $color-white-transparent
	border-radius: 0
	border-width: 0
	padding: 2em

#footer
	background-color: $color-gray
	box-shadow: 0 -1px 1px $color-shadow
	padding: 0.5em 0

#header
	h1
		margin-bottom: 0
		text-align: left
	
	background-color: $color-gray
	box-shadow: 0 1px 1px $color-shadow
	padding: 1em 0

section
	padding: 8em 0